<section id="experience" class="section">
    <div class="container">
        <div class="row wave-bg">
            <div class="zigzag wow slideInLeft">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                       <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 105 20" xml:space="preserve">
                    <g>
                        <rect class="st0" width="105" height="20"/>
                        <g>
                            <polyline class="st1" points="2.5,5 16.8,15 31.1,5 45.3,15 59.6,5 73.9,15 88.2,5 102.5,15   "/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-md-4 wow slideInLeft">
                <div class="section-sidebar">
                    <h2><span class="point">Experience</span></h2>
                    <div class="opacity-box">
                        <!--<p>I partner with startups, organizations and Fortune 500 companies to build digital products
                            that help clients overcome challenges and create lasting connections with
                            millions of people every day.</p>-->
                        <!--<p>TODO: Experience summary</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-8 right-box">

                <div class="row wow zoomIn">
                    <div class="col-md-8">
                        <div class="about-row">
                            <h4>Surgical Information Systems</h4>
                            <h4 class="color-h4">Project Mercury</h4>
                            <div class="opacity-box">
                                <!--<p>Designed and developed user-friendly website, including optimized check-out
                                    page that increased user clicks, and subsequently customer purchases by 20%.</p>-->
                                <p>Rewriting legacy application for the Cloud using TypeScript, Angular 1.4, and SASS
                                    on the frontend, .NET Web API webservices, and a SQL Server database. Transitioned to Angular 4 in Spring 2017.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-date">
                            <p>Fall 2014 — Summer 2017</p>
                        </div>
                    </div>
                </div>
                <div class="row wow zoomIn">
                    <div class="col-md-8">
                        <div class="about-row">
                            <!--<h4>Middle Frontend Developer</h4>-->
                            <h4 class="color-h4">SIS Com</h4>
                            <div class="opacity-box">
                                <!--<p>Leading a small team on a variety of development projects and delivering
                                    solutions to meet and exceed clients’ briefs.</p>-->
                                <!--<p>Maintaining and enhancing a Flash and Java patient tracking <a href="https://sisfirst.com/solutions/patient-tracking.html">application</a></p>-->
                                <p>Maintaining and enhancing an existing patient tracking <a href="https://sisfirst.com/solutions/patient-tracking.html">application</a>.
                                Flash displays launched and configured through a web portal and pulling information from Java based Rules Engine and Message Router and an Oracle database.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-date">
                            <!--<p>Jan, 2013 — May, 2014</p>-->
                            <p>Spring 2009 — Fall 2014</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>