<section id="hello" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about-img-wrap">
                <div class="about-img wow slideInRight duotone-box">
                    <img src="media/hello-section/profile2_75.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-me wow slideInLeft">
                    <div class="about-me-title">
                        <h1><span class="point">I am {{firstName}} {{lastName}}</span></h1>
                    </div>
                    <div class="about-me-text">
                        <div class="opacity-box">
                            <p>I'm a developer located in Alpharetta, Georgia who has spent the last couple
                                years doing full stack development on a web application for an electronic
                                medical records company. I'm currently looking for a remote position that is
                                at least half frontend web development, and would prefer to continue working with Angular 4.
                            </p>
                        </div>
                    </div>
                    <div class="about-me-info">
                        <!--<p>
                            <span class="span-title">Phone</span>
                            <span>+1-203-324-5400</span>
                        </p>-->
                        <p>
                            <span class="span-title">Email</span>
                            <span>ixeldog@gmail.com</span>
                        </p>
                        <p>
                            <span class="span-title">Address</span>
                            <span>Alpharetta, GA</span>
                        </p>
                        <!--<p>
                            <span class="span-title">Social</span>
                            <span>
                                <a target="_blank" href="https://www.facebook.com/" class="fa fonts-icons fa-facebook"></a>
                                <a target="_blank" href="https://twitter.com/" class="fa fonts-icons fa-twitter"></a>
                                <a target="_blank" href="https://www.instagram.com/" class="fa fonts-icons fa-instagram"></a>
                                <a target="_blank" href="https://www.linkedin.com/" class="fa fonts-icons fa-linkedin"></a>
                                <a target="_blank" href="https://www.behance.net/" class="fa fonts-icons fa-behance"></a>
                                <a target="_blank" href="https://dribbble.com/" class="fa fonts-icons fa-dribbble"></a>
                                <a target="_blank" href="https://medium.com/" class="fa fonts-icons fa-medium"></a>
                                <a target="_blank" href="https://github.com/" class="fa fonts-icons fa-github"></a>
                            </span>
                        </p>-->
                    </div>
                    <div class="about-btns">
                        <!-- TODO: contact me -->
                        <!--<a data-toggle="modal" data-target="#contact-modal" href="#" class="site-btn">Contact me</a>-->
                        <a href="/download/ResumeV2.pdf" class="site-btn gray-btn">Download cv</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>